:root {
  --card-width: 63mm;
  --card-height: 88mm;
}
.App {
  text-align: center;
}

.App-logo {
}
.card {
  height: var(--card-height);
}
.container {
  display: grid;
  grid-template-columns: repeat(3, var(--card-width));
  grid-template-rows: repeat(3, var(--card-height));
  margin: auto;
  width: calc(var(--card-width) * 3);
}

@media screen {
  .container {
    padding-top: 25vh;
  }
}

@page {
  size: calc(var(--card-width) * 3) (var(--card-height) * 3);
}

@media print {
  .card {
    height: var(--card-height);
    width: var(--card-width);
    box-sizing: border-box;
    border: dashed rgba(0, 0, 0, 0.3);
    border-width: 0.5pt 0.5pt;
  }
  .dropzone {
    display: none !important;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
